p {
  font-family: "Roboto", sans-serif;
  color: #424242;
  font-size: 18px;
  line-height: 1.7;
  margin-top: 20px;
}

figcaption {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #212121;
  line-height: 1.4;
}

li::marker {
  color: #0d6ccd;
}

.ul-date {
  margin: auto;
  padding: 0 15px 15px 23px;
}

.li-fecha {
  margin: auto;
  font-family: "Roboto", sans-serif;
  color: #424242;
}

.image {
  display: flex;
  width: 100%;
}

.image2 {
  display: flex;
  width: 100%;
}

.image3 {
  display: flex;
  width: 100%;
}

.text-h1 {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  line-height: 1.3;
}

.text-h3 {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #424242;
  font-weight: 500;
  line-height: 1.7;
}

.first-content {
  padding-top: 10px;
  padding-left: 23px;
  padding-right: 23px;
}

.second-content {
  padding-left: 23px;
  padding-right: 23px;
}

.icons-content {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.icons-content>*+* {
  margin-left: 10px;
}

.icons {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.black {
  color: black;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.bolder {
  font-weight: 700;
}

@media (min-width: 900px) {

  /* Aquí van los estilos que se aplicarán cuando el ancho de la ventana sea mayor a 768px */
  p,
  figcaption,
  .text-h3 {
    font-size: 24px;
    /* Aumentar el tamaño del texto */
  }

  .text-h1 {
    font-size: 48px;
  }



  .icons-content {
    margin-top: 20px;
    /* Aumentar el espaciado entre los iconos */
  }

  .container {
    width: 60%;
    /* Ancho del contenedor principal */
    margin: 0 auto;
    /* Centrar horizontalmente */
  }

}